<div id="start">
	<div class="btn" id="login_btn">Log in</div>
	<div class="btn" id="signup_btn">Sign up</div>
</div>


<div id="signup" class="hidden">
	<p>Welcome, let's create your new account</p>
	<%= form_for :user,  :method => 'POST' do %>
	<%= label_tag :username, "Username" %>
	<%= text_field_tag :username, @username %><br />
	<%= label_tag :password, "Password" %>
	<%= password_field_tag :password, @password %><br />
	<%= label_tag :email, "E-mail" %>
	<%= text_field_tag :email, @email %><br />
	<%= submit_tag "Sign up" %>
	<% end %>
</div>

<script>
	
	document.getElementById("login_btn").onclick=function() {
		document.getElementById("start").classList.add("hidden");
		setTimeout(function() {
		window.location.href = "/login";
		}, 300);
		
	}
	document.getElementById("signup_btn").onclick=function() {
		document.getElementById("start").classList.add("hidden");
		setTimeout(function() {
		document.getElementById("start").style.display="none";
		}, 300);
		document.getElementById("signup").classList.remove("hidden");
	}
</script>
