<div id="login" class="hidden">
	<%= form_for :user,  :method => 'POST' do %>
	<%= label_tag :user, "Username" %>
	<%= text_field_tag :user %><br />
	<%= label_tag :pass, "Password" %>
	<%= password_field_tag :pass %><br />
	<span>Forgotten your password?</span>
	<%= submit_tag "Log in" %>
	<% end %>
</div>

<script>
setTimeout(function() {
	document.getElementById("login").classList.remove("hidden");
	}, 100);
</script>