<% if @display %>
<div id="profile_header">
	<div id="profile_picture" style="background-image: url(<%= @User.avatar %>)"></div>
	<div id="profile_username">
	<h1><%= @username %></h1>
	<p><%= @User.intro %></p><br />
	</div>
</div><br />


<div  class="left">
<div id="profile_info">
<% if @User.location!="" %>Location <span><%= @User.location %></span><% end %>
<% if @User.dob!="" %><p>Age <span><%= @User.dob %></span><% end %>
</div>
</div>

<div class="right">
<% if @Posts %>

<% @Posts.each do | p | %>

<div class="post">
<h2><a href="/postview/<%= @username %>/<%= p.id %>""><%= p.title %></a></h2><br />
<p><%= p.content %></p>
</div>

<% end %>
<% end %>

</div>

<% else %>

<div class="post">
	<h2><%= @username %></h2>
	<p><%= @intro %></p>
</div>

<% end %>