<!DOCTYPE html>
<html>
  <head>
    <title>NeverAlone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <style>
	* {
		box-sizing: border-box;
		margin: 0px;
		font-family: calibri;
	}
	body {
		background-color: #b3c6ff;
	}
	p {
		margin-bottom: 6px;
	}
	a {
		text-decoration: none;
	}
	#content {
		margin-top: 20px;
	}
	.container {
		width: 70%;
		margin: 0 auto;
	}
	#header {
		padding: 20px;
		background-color: white;
		color: #60c9ec;
		font-weight: bold;
		font-size: 1.4em;
		text-shadow: 1px 1px 0px #083544;
	}
	#header a {
		color: #60c9ec;
	}
	#start {
		position: relative;
		width: 200px;
		margin: 0 auto;
		top: 150px;
		z-index: 1;
	}
	.btn {
		margin-top: 10px;
		width: 200px;
		height: 40px;
		font-size: 1.1em;
		font-variant: small-caps;
		font-weight: bold;
		text-align: center;
		padding: 8px;
		cursor: pointer;
	}
	#login_btn {
		top: 40px;
		background: none;
		border: 1px solid white;
		color: white;
	}
	#signup_btn {
		top: 90px;
		background-color: white;
		color: #333;
	}
	#signup, #login {
		position: absolute;
		top: 200px;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		color: white;
		width: 360px;
		background-color: #024264;
		padding: 20px;
		border-radius: 10px;
		margin: 0 auto;
		font-size: 1.1em;
		box-shadow: 2px 2px 2px #222;
		transition: 0.3s ease 0.3s;
	}
	#signup b {
		padding-bottom: 14px;
	}
	label {
		display: inline-block;
		width: 100px;
	}
	input[type=text], input[type=password] {
		background-color: #e6eeff;
		border-radius: 1px;
		padding: 4px;
		width: 210px;
		margin-bottom: 8px;
		border: 1px solid white;
		font-weight: bold;
	}
	input[type=submit] {
		margin: 10px 0px 0px 250px;
		font-size: 0.8em;
		right: 40px;
		bottom: 20px;
		border: 1px solid white;
		padding: 4px 8px;
		color: white;
		cursor: pointer;	
	}
	#signup input[type=submit] {
		background: linear-gradient(#49d049, green);
	}
	#login input[type=submit] {
		background: linear-gradient(#8080ff, #3333ff);
	}
	#login span {
		font-size: 0.7em;
		font-weight: bold;
		position: absolute;
		margin-top: 10px;
	}
	.notice {
		position: relative;
		top: 20px;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		border: 2px solid white;
		color: white;
		font-size: 1.2em;
		padding: 2px;
		border-radius: 3px;
		width: 40%;
	}
	.error {
		color: red;
		font-size: 0.8em;
		margin-bottom: 5px;
		padding: 2px;
		background-color: #ffcccc;
		border-radius: 3px;
	}
	.hidden {
		opacity: 0;
		transition: 0.3s ease;
	}
	#current_user {
		position: absolute;
		top: 10px;
		right: 30px;
		height: 60px;
		text-align: right;
	}
	#avatar {
		float: left;
		width: 40px;
		height: 40px;
		border: 2px solid black;
		border-radius: 30px;
	}
	#username {
		float: left;
		padding: 8px;
		font-weight: bold;
		min-width: 100px;
		color: #b3c6ff;
		cursor: pointer;
	}
	#current_user:hover ul {
		display: block;
	}
	#username ul {
		position: absolute;
		top: 36px;
		right: 10px;
		border: 1px solid #555;
		color: #555;
		list-style: none;
		padding: 2px;
		width: 140px;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		box-shadow: 1px 1px 2px #222;
		background-color: white;
		display: none;
	}
	#username li {
		padding: 4px;
		text-align: center;
		cursor: pointer;
		border-top: 1px solid #ddd;
	}
	#username li a {
		color: #555;
	}
	#username li:nth-child(1) {
		border-top: none;
	}
	#username li:hover {
		background-color: #ddd;
	}
  </style>

  <body>
  <% if session[:user] %>
  <div id="current_user">
	<div id="avatar"></div>
	<div id="username"><%= link_to session[:user], profile_path(session[:user]) %>
	<ul>
		<li>New post</li>
		<li>Edit profile</li>
		<li>Settings</li>
		<li><%= link_to "Log out", logout_path %></li>
	</ul>
	</div>
  </div>
  <% end %>
  <div id="header">
	<div class="container">
		<a href="/"><h1>Never Alone</h1></a>
		<h4>Social Network for the anxious</h4>
	</div>
  </div>
  <div id="content">
  	<div class="container">
	<%= yield %>
	</div>
  </div>
  </body>
</html>
