<!DOCTYPE html>
<html>
  <head>
    <title>NeverAlone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <style>
	* {
		box-sizing: border-box;
		margin: 0px;
		font-family: calibri;
		color: #222;
	}
	body {
		background-color: #b3c6ff;
	}
	p {
		margin-bottom: 6px;
	}
	a {
		text-decoration: none;
	}
	#content {

		min-height: 400px;
		padding: 12px;
	}
	.container {
		position: relative;
		width: 900px;
		margin: 0 auto;
	}
	#header {
		padding: 10px;
		height: 70px;
		background-color: white;
		box-shadow: 1px 1px 2px #222;
	}
	#header h1, #header h4 {
		color: #60c9ec;
		font-weight: bold;
		text-shadow: 1px 1px 0px #083544;
	}
	#header h4 {
		position: absolute;
		top: 14px;
		left: 200px;
	}
	#header a {
		color: #60c9ec;
	}
	#start {
		position: relative;
		width: 200px;
		margin: 0 auto;
		top: 150px;
		z-index: 1;
	}
	.btn {
		margin-top: 10px;
		width: 200px;
		height: 40px;
		font-size: 1.1em;
		font-variant: small-caps;
		font-weight: bold;
		text-align: center;
		padding: 8px;
		cursor: pointer;
	}
	#login_btn {
		top: 40px;
		background: none;
		border: 1px solid white;
		color: white;
	}
	#signup_btn {
		top: 90px;
		background-color: white;
		color: #333;
	}
	#signup, #login {
		position: absolute;
		top: 100px;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		color: white;
		width: 360px;
		background-color: #eee;
		padding: 20px;
		border-radius: 10px;
		margin: 0 auto;
		font-size: 1.1em;
		box-shadow: 2px 2px 2px #222;
		transition: 0.3s ease 0.3s;
	}
	#signup b {
		padding-bottom: 14px;
	}
	label {
		display: inline-block;
		width: 100px;
	}
	input[type=text], input[type=password] {
		background-color: #e6eeff;
		border-radius: 1px;
		padding: 4px;
		width: 210px;
		margin-bottom: 8px;
		border: 1px solid #555;
		font-weight: bold;
	}
	input[type=submit] {
		font-size: 0.8em;
		right: 40px;
		bottom: 20px;
		height: 30px;
		border: 1px solid #555;
		padding: 4px 8px;
		color: white;
		cursor: pointer;	
	}
	#signup input[type=submit], #login input[type=submit] {
		margin: 10px 0px 0px 250px;	
	}
	#signup input[type=submit] {
		background: linear-gradient(#49d049, green);
	}
	#login input[type=submit] {
		background: linear-gradient(#8080ff, #3333ff);
	}
	.submit {
		position: absolute;
		padding-top: 10px;
		left: 260px;
	}
	.submit input[type=submit] {
		background: linear-gradient(#8080ff, blue);
		border-radius: 4px;
	}
	#login span {
		font-size: 0.7em;
		font-weight: bold;
		position: absolute;
		margin-top: 10px;
	}
	.notice {
		position: relative;
		top: 10px;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		border: 2px solid white;
		color: white;
		font-size: 1.2em;
		padding: 6px;
		border-radius: 3px;
		width: 60%;
	}
	.error {
		color: red;
		font-size: 0.8em;
		margin-bottom: 5px;
		padding: 2px;
		background-color: #ffcccc;
		border-radius: 3px;
	}
	.hidden {
		opacity: 0;
		transition: 0.3s ease;
	}
	#current_user {
		position: absolute;
		display: block;
		top: -10px;
		padding: 16px;
		right: 10px;
		height: 70px;
		text-align: right;
		z-index:1;
		cursor: pointer;
	}

	#avatar {
		float: left;
		width: 40px;
		height: 40px;
		border: 2px solid black;
		border-radius: 30px;
		background-position: center center;
		background-size: cover;
	}
	#username_display {
		float: left;
		padding: 8px;
		font-weight: bold;
		min-width: 80px;
		color: #b3c6ff;
		height: 40px;
	}
	#current_user:hover ul {
		display: block;
	}
	#username_display ul {
		position: absolute;
		top: 70px;
		right: -10px;
		border: 1px solid #555;
		color: #555;
		list-style: none;
		padding: 2px;
		width: 140px;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		box-shadow: 1px 1px 2px #222;
		background-color: white;
		display: none;
	}
	#username_display li {
		padding: 4px;
		text-align: center;
		cursor: pointer;
		border-top: 1px solid #ddd;
		padding: 0px;
		height: 28px;
	}
	#username_display li a {
		color: #555;
		display: block;
		width: 100%;
		height: 100%;
		padding-top: 4px;
	}
	#username_display li:nth-child(1) {
		border-top: none;
	}
	#username_display li:hover {
		background-color: #ddd;
	}
	#login_topbtn {
		position: absolute;
		top: 10px;
		right: 30px;
		width: 90px;
		height: 30px;
		background-color: #b3c6ff;
		border-radius: 2px;
		padding: 3px;
		color: white;
		font-variant: small-caps;
		text-align: center;
		font-weight: bold;
		cursor: pointer;
		display: none;
	}
		#profile_header {
			width: 100%;
			height: 160px;
		}
		#profile_picture {
			float: left;
			width: 150px;
			height: 150px;
			border: 2px solid #222;
			border-radius: 4px;
			background-position: center center;
			background-size: cover;
			margin-right: 20px;
		}
		#profile_username {
			padding: 40px;
		}
		#profile_info, .post {
			background-color: #EEE;
			border: 1px solid #555;
			margin-bottom: 12px;
			padding: 8px;
		}
		#profile_info span {
			float: right;
			width: 60%;
			color: blue;
		}
		.left {
			float: left;
			width: 200px;	
		}
		.right {
			float: left;
			min-width: 64%;
			position: absolute;
			display: inline-block;
			margin-left: 12px;
			margin-right: 12px;
		}

		textarea {
			width: 70%;
			height: 200px;
			padding: 8px;
			background-color: #e6eeff;
			border-radius: 1px;
			border: 1px solid #555;
		}
		.radio {
			position: relative;
			display: inline-block;
			height: 40px;
			width: 160px;
			border-radius: 20px;
			background-color: #47cf22;
			margin: 4px;
		}
		:hover input[type=radio]:hover {
			background-color: yellow;
		}
		input[type=radio] {
			position: absolute;
			left: 8px;
			top: 8px;
			width: 20px;
			height: 20px;
			opacity: 0;
		}
		.radio span {
			position: absolute;
			left: 12px;
			top: 10px;
			width: 16px;
			height: 16px;
			border: 4px solid #eee;
			background-color: #ccc;
			border-radius: 8px;
		}
		.radio:hover span {
			background-color: #777;		
		}
		.radio input[type=radio]:checked + span {
			background-color: #333;
			border: 4px solid white;
		}
		.radio label {
			position: absolute;
			left: 14px;
			top: 8px;
			font-weight: bold;
			display: block;
			width: 100%;
			height: 100%;
			padding-left: 20px;
			cursor: pointer;
			color: white;
		}
		@media screen and (max-width: 900px) {
			.container {
				width: 99%;
			}
		}
		@media screen and (max-width: 700px) {
			.left, .right {
				width: 100%;
				clear: both;
				position: relative;
				margin: 0px 0px 12px 0px;
			}
		}
  </style>

  <body>
  <div id="header">
	<div class="container">
		<h1><%= link_to "Never Alone", root_path %></h1>
	   <% if !session[:user] %>
			<h4></h4>
			<div id="login_topbtn" class="hidden">Log in</div>
		<% elsif session[:user] %>
					<a id="profile_link" href="/profile/<%= session[:user] %>"></a>
			<div id="current_user">
			<a href="/profile/<%= session[:user] %>">
			<div id="avatar" style="background-image:url(<%= session[:avatar] %>)"></div></a>
			<div id="username_display">
				<%= link_to session[:user], profile_path(session[:user]) %>
				<ul>
				<li><%= link_to "New post", post_new_path %></li>
				<li><%= link_to "Edit profile", profile_edit_path %></li>
				<li><%= link_to "Settings", settings_path %></li>
				<li><%= link_to "Log out", logout_path %></li>
				</ul>
			</div>
		</div>
		<% end %>


	</div>
  </div>
  <div id="content" class="container">
	  <% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>
	<%= yield %>
  </div>
  
  </body>
</html>
